{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'jsonrpc_client/css/styles.css' %}">
    <title>JSON-RPC Client</title>
</head>
<body>
<h1>JSON-RPC Client</h1>

<form method="post">
    {% csrf_token %}
    <p>Method: {{ form.method }}</p>
    <p>Parameters: {{ form.parameters}}</p>
    <button type="submit">Submit</button>
</form>

{% if result %}
    <div class="result-container">
        <h2>Result:</h2>
        <textarea rows="15" readonly>{{ result | safe }}</textarea>
    </div>
{% endif %}

{% if form.errors %}
    <div class="error-container">
        <h3>Errors:</h3>
        <ul>
            {% for field, errors in form.errors.items %}
                <li><strong>{{ field }}</strong>: {{ errors }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
</body>
</html>
